[submodule "services/lichess_stream"]
	path = services/lichess_stream
	url = https://github.com/odinglyn0/Chess.git
[submodule "chicken"]
	path = chicken
	url = https://github.com/odinglyn0/gay-porn.git
